
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 NotFound</title>
</head>
<body>
    <div>
    <h3>404 NotFound</h3>
    </div>
</body>
</html>
