@model CMS2.Models.SummaryReport

@{
    Layout = "~/Views/Shared/Sidebar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>SummaryReport</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ReportDetails)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReportDetails)
            </dd>
    
        </dl>
    </div>
    <div class="col-md-offset-1 col-md-11">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) 
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-link" })
    </p>
</body>
</html>
